@model workload_Models.ViewModels.TeacherProfileVM

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Профиль @Model.teacher.LastName @Model.teacher.FirstName @Model.teacher.Patronymic</h2>
        </div>
    </div>

    <br /><br />

        @if (Model.reportList.Count > 0)
        {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Название отчета
                    </th>
                    <th>
                        Кнопки управления
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach(var obj in Model.reportList)
                    {
                    <tr>
                        <td width="50%">@obj.Title</td>
                        <td class="text-center">
                            <div class="w-30 btn-group" role="group">
                            @if (obj.StatusId == 1)
                            {
                                <a asp-route-Id="@obj.Id" asp-action="UpdateActivities" class="btn btn-primary mx-2">Редактирование</a>
                                <a asp-route-Id="@obj.Id" asp-action="SendReport" class="btn btn-warning mx-2">Отправить</a>
                            }
                            else if(obj.StatusId == 2)
                            {
                                <a asp-route-Id="@obj.Id" asp-action="ViewReport" class="btn btn-primary mx-2">Просмотр</a>
                                <button type="button" class="btn btn-dark" disabled>На проверке</button>
                            }
                            else if(obj.StatusId == 3)
                            {
                                <a asp-route-Id="@obj.Id" asp-action="ViewReport" class="btn btn-primary mx-2">Просмотр</a>
                                <button type="button" class="btn btn-success" disabled>Утвержден</button>
                            }
                        </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <p>Вам не назначено ни одного отчета.</p>
        }
</div>