@using Newtonsoft.Json;
@using workload_Models.ViewModels;
@using workload_Utility.ClaimTypes;

@model HomeViewModel
@{
    var claims = User.Claims.Where(c => c.Type == "UserRoleDep");
    List<CustomClaimValue> deserializedClaims = new List<CustomClaimValue>();
    foreach(var claim in claims)
    {
        deserializedClaims.Add(JsonConvert.DeserializeObject<CustomClaimValue>(claim.Value));
    }
}

<div class="container p-3">
    @if (Model != null)
    {

        <div class="gridcontainer">
        @if (Model.DepartmentsHod != null)
        {
            @for (int i = 0; i < Model.DepartmentsHod.Count(); i++)
            {
                <div class="gradient-red">
                    <h1>Зав кафедры в:</h1>
                    <h3>@Model.DepartmentsHod[i].Department.Name</h3>
                    <h4>Работников: @Model.DepartmentsHod[i].WorkersCount</h4>
                    <h4>Отчетов на проверку: @Model.DepartmentsHod[i].ReportsToApproveCount</h4>
                    <a asp-route-id="@Model.DepartmentsHod[i].Department.Id" asp-controller="HeadOfDepartmentProfile" asp-action="Index" class="btn btn-danger">Перейти на кафедру</a>
                </div>
            }
        }

        @if (Model.DepartmentsTeacher != null)
        {
            @for (int i = 0; i < Model.DepartmentsTeacher.Count(); i++)
            {
                  <div class="gradient-blue">
                      <h1>Препод в:</h1>
                      <h3>@Model.DepartmentsTeacher[i].Department.Name</h3>
                      <h3>Отчетов назначено: @Model.DepartmentsTeacher[i].ReportsAssignedCount</h3>
                      <a asp-controller="TeacherProfile" asp-action="Index" class="btn btn-primary">Профиль преподавателя</a>
                  </div>
            }
        }
        </div>
    }
</div>