@model workload_Models.ViewModels.ReportDetailsVM

<form method="post" asp-action="Details">
    <input asp-for="Report.Id" hidden />
    <div class="border p3">
        <div class="form-group row">
            <h2 class="text-info p1-3">View report</h2>
        </div>
        <div class="row">
            <div class="col-8">
                @foreach(var category in Model.CategoryList)
                {
                    <h1>@category.Name</h1>
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th rowspan="4">Название вида работы</th>
                            <th colspan="6" style="text-align:center;">Объем работы</th>
                            <th rowspan="4" style="text-align:center;">Норма часов</th>
                            <tr>
                                <th colspan="3" style="text-align:center;">планируемый</th>
                                <th colspan="3" style="text-align:center;">фактический</th>
                                <tr>
                                    <th rowspan="2">дата</th>
                                    <th colspan="2">количество</th>
                                    <th rowspan="2">дата</th>
                                    <th colspan="2">количество</th>
                                </tr>
                                <tr>
                                    <th>в час</th>
                                    <th>в ед.</th>
                                    <th>в час</th>
                                    <th>в ед.</th>
                                </tr>
                            </tr>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var processActivity in Model.ProcessActivityTypes.Where(u=>u.CategoryId==category.Id))
                        {
                            <tr>
                                <td>@processActivity.Name</td>
                                <td>@Html.DisplayFor(Model=>processActivity.DatePlan)</td>
                                <td>@Html.DisplayFor(Model=>processActivity.HoursPlan)</td>
                                <td>@Html.DisplayFor(Model=>processActivity.UnitPlan)</td>
                                <td>@Html.DisplayFor(Model=>processActivity.DateFact)</td>
                                <td>@Html.DisplayFor(Model=>processActivity.HoursFact)</td>
                                <td>@Html.DisplayFor(Model=>processActivity.UnitFact)</td>
                                <td style="text-align: center; vertical-align:middle;">@Html.DisplayFor(Model=>processActivity.NormHours)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @*KEEP THIS EMPTY*@
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}